<div class="banner" style ="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url('https://res.cloudinary.com/kimlinh/image/upload/v1559145474/banner_wmoj91.jpg');">
  <div class="container">
    <h1>Keep your plant alive !</h1>
    <p>MyGreenGarden t'accompagne pour prendre soin de tes plantes</p>
    <p><%= link_to "J'accède à mon jardin", user_plants_path %></p>
  </div>
  <div class="chevron w-100 text-center">
      <a href="#tips"><i class="chevron fas fa-1x fa-chevron-down pulse"></i></a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="tips" class="home-title col text-center ">
      <h2>Astuces de la semaine</h2>
    </div>
  </div>
  <div class="row">
    <div class="card-tips col-5 col-md-4 text-center my-3">
      <p class="text-center">DIY Flower pots</p>
        <div class="text-center">
          <%= link_to image_tag("https://res.cloudinary.com/kimlinh/image/upload/v1559721635/video0_pnpmdi.png"), "https://www.facebook.com/5min.crafts/videos/458112541660318/", target: "_blank"%>
        </div>
    </div>
      <div class="card-tips col-5 col-md-4 text-center my-3">
        <p class="text-center">Gardening hacks</p>
          <div class="text-center">
            <%= link_to image_tag("https://res.cloudinary.com/kimlinh/image/upload/v1559637361/video1_pioils.png"), "https://www.youtube.com/watch?v=53lJwr8KaXU", target: "_blank"%>
          </div>
      </div>
      <div class="card-tips col-5 col-md-4 text-center my-3">
        <p class="text-center">For your kitchen</p>
          <div class="text-center">
            <%= link_to image_tag("https://res.cloudinary.com/kimlinh/image/upload/v1559637367/video2_hchxgn.png"), "https://www.youtube.com/watch?v=vkbn499wsWc", target: "_blank"%>
          </div>
      </div>
      <div class="card-tips col-5 col-md-4 text-center my-3">
        <p class="text-center">Indoor plants</p>
          <div class="text-center">
            <%= link_to image_tag("https://res.cloudinary.com/kimlinh/image/upload/v1559637372/video3_psidon.png"), "https://www.youtube.com/watch?v=iiUDZfyYt2A", target: "_blank"%>
          </div>
      </div>
    </div>
  </div>
</div>
