<div class="banner" style ="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url('https://res.cloudinary.com/kimlinh/image/upload/v1559145474/banner_wmoj91.jpg');">
  <div class="container">
    <h1>Keep your plant alive !</h1>
    <p>Grâce à des alertes,<br> MyGreenGarden vous aide à prendre soin de vos plantes</p>
    <p><%= link_to "J'accède à mon jardin", user_plants_path %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Astuces de la semaine</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 text-center my-3">
      <h3 class="text-center">Diy Flower pots</h3>
        <div class="video-home text-center">
          <%=  link_to image_tag("https://res.cloudinary.com/kimlinh/image/upload/v1559721635/video0_pnpmdi.png"), target: "_blank"%>
        </div>
    </div>
      <div class="col-6 col-md-4 text-center my-3">
        <h3 class="text-center">Gardening Hacks</h3>
          <div class="video-home">
            <%=  link_to image_tag("https://res.cloudinary.com/kimlinh/image/upload/v1559637361/video1_pioils.png"), "https://www.youtube.com/watch?v=53lJwr8KaXU", target: "_blank"%>
          </div>
      </div>
      <div class="col-6 col-md-4 text-center my-3">
        <h3 class="text-center">For your kitchen</h3>
          <div class="video-home">
            <%=  link_to image_tag("https://res.cloudinary.com/kimlinh/image/upload/v1559637367/video2_hchxgn.png"), "https://www.youtube.com/watch?v=vkbn499wsWc", target: "_blank"%>
          </div>
      </div>
      <div class="col-6 col-md-4 text-center my-3">
        <h3 class="text-center">Indoor Plant</h3>
          <div class="video-home">
            <%=  link_to image_tag("https://res.cloudinary.com/kimlinh/image/upload/v1559637372/video3_psidon.png"), "https://www.youtube.com/watch?v=iiUDZfyYt2A", target: "_blank"%>
          </div>
      </div>
    </div>
  </div>
</div>
