<div class="back-position fixed-bottom">
  <div class="branch"></div>
  <div class="branch"></div>
  <div class="branch"></div>
  <div class="branch"></div>
  <div class="branch"></div>
  <div class="branch"></div>
</div>


<div class="container top-position">
  <div class="garden-title text-center">Bienvenue sur ton jardin</div>
  <p class="button text-center"><%= link_to "J'ajoute une plante ", new_user_plant_path %> </p>
  <% @user_plants.order(created_at: :desc).each do |user_plant| %>
    <div class="notification text-center">
      <%= link_to user_plant_path(user_plant) do %>
        <img class="avatar-large" src="<%= cl_image_path user_plant.picture if user_plant.picture.present? %>">
      <% end %>
      <div class="notification-content">
        <h1 class="card-title"><%= user_plant.name %></h1>
      </div>

      <div class="notification-actions">
        <%= link_to "<i class='fas fa-plus'></i>".html_safe, user_plant_path(user_plant) %>
        <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, user_plant_path(user_plant), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
