<div class="container">
  <div class="form-signup">
    <h1>Hey <%= current_user.first_name %>, crée une plante !</h1>
    <%= simple_form_for @user_plant do |f| %>
        <%= f.input :name, label: "Nom de la plante"%>
        <%= f.association :plant %>
        <%= f.input :origin_health, label: "Etat de la plante", :collection => %w[ awful bad ok good excellent] %>
        <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
        <%= f.input :picture, label: "Photo" %>
        <%= f.input :picture_cache, as: :hidden %>
        <%= f.submit "Créer ma plante", class: "button" %>
    <% end %>
    </div>
</div>
