 <div class="container">
  <div class="card-category-global">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
           url('<%= cl_image_path @user_plant.picture if @user_plant.picture.present? %>')">
      <%= @user_plant.name %>
    </div>

    <div class="card-category-infos">
      <h1><%= @user_plant.variety %></h1>
      <p><%= @user_plant.description %></p>
      <div class="card-category-activities">
        <p>Arrosé le : <span> <%= Water.last.created_at.strftime("%d" " " "%B") %></span></p>
        <p>Etat : <span> <%= @user_plant.origin_health %></span></p>
        <p>Prochain arrosage : <span> J-<%= Water.last.countdown %></span></p>
        <%= link_to user_plant_waters_path(@user_plant), method: :post do %>
          <i class="fas fa-tint"></i>
        <% end %>

      <h1 class="button"><%= link_to "J'accède à mon jardin", user_plants_path %></h1>
      </div>
    </div>
  </div>
</div>

